.idea/
__pycache__/
app/data/tmp
app/data/.~*
app/data/*.csv
app/data/*.json
app/backup/*
app/static/css/main.css
app/core/config.json
nohup.out
*.pyc
*.css.map
.vagrant/
.sass-cache/
app/parse/*.py
app/log/
*.csv
.~lock*
