body {
  background-color: #f1f1f1;
  margin: 0 auto;
  padding: 0; }

#header {
  -webkit-box-shadow: 0px 6px 7px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 7px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 7px -8px rgba(0, 0, 0, 0.75);
  background-color: #4a6fa5;
  width: 100%;
  height: 60px;
  display: flex; }

#header a:hover {
  color: #f1f1f1; }
#header a:visited {
  color: #f1f1f1; }
#header img {
  display: inline-block;
  margin-left: 15px;
  margin-top: 10px;
  height: 40px; }
#header #header_text {
  height: inherit;
  display: table;
  margin-left: 10px;
  color: #f1f1f1;
  font-size: 20px;
  font-family: "Lato", Serif; }
  #header #header_text span {
    display: table-cell;
    vertical-align: middle; }
    #header #header_text span span {
      background-color: #66BEAD;
      padding: 18px; }
    #header #header_text span span:hover {
      background-color: #8377C8;
      cursor: pointer; }

#viz_container {
  width: 98%;
  margin: 1% auto; }
  #viz_container #factory_transp_container {
    width: 60%;
    height: 80%;
    float: left;
    background-color: #f4f4f4;
    box-sizing: border-box;
    border: 2px solid #AAAAAA;
    z-index: 1;
    position: relative; }
    #viz_container #factory_transp_container #suppl_container {
      width: 100%;
      height: 4%;
      z-index: 1;
      bottom: 0;
      position: absolute;
      background: rgba(0, 0, 0, 0.3); }
      #viz_container #factory_transp_container #suppl_container #viz_info_container {
        float: left;
        height: 100%;
        display: table;
        border-spacing: 10px 0; }
        #viz_container #factory_transp_container #suppl_container #viz_info_container .viz_info_text {
          display: table-cell;
          font-style: italic;
          vertical-align: middle;
          font-size: 16px;
          color: #f1f1f1;
          font-family: "Lato", Serif; }
      #viz_container #factory_transp_container #suppl_container #buttons_line_container {
        width: 12%;
        height: 100%;
        float: right;
        z-index: 1; }
        #viz_container #factory_transp_container #suppl_container #buttons_line_container img {
          height: 75%;
          display: block;
          margin: 0 auto;
          position: relative;
          top: 50%;
          transform: translateY(-50%); }
        #viz_container #factory_transp_container #suppl_container #buttons_line_container #zoom_in, #viz_container #factory_transp_container #suppl_container #buttons_line_container #zoom_out, #viz_container #factory_transp_container #suppl_container #buttons_line_container #reset {
          width: 31%;
          height: inherit;
          float: right;
          border: 1px solid transparent; }
          #viz_container #factory_transp_container #suppl_container #buttons_line_container #zoom_in:hover, #viz_container #factory_transp_container #suppl_container #buttons_line_container #zoom_out:hover, #viz_container #factory_transp_container #suppl_container #buttons_line_container #reset:hover {
            cursor: pointer;
            background: rgba(0, 0, 0, 0.3); }
  #viz_container #info_container {
    width: 39%;
    height: 80%;
    float: right; }
    #viz_container #info_container #date_filter_container {
      height: 14%;
      margin: 0 2% 0 2%; }
      #viz_container #info_container #date_filter_container #d_f_header div {
        font-size: 24px;
        color: #444444;
        font-family: "Lato", Serif;
        border-bottom: 1px solid #AAAAAA; }
      #viz_container #info_container #date_filter_container #date_picker_container {
        margin: 3%;
        font-family: "Open Sans";
        font-size: 15px;
        color: #222; }
    #viz_container #info_container #transp_table_container {
      position: relative;
      display: block;
      height: 86%;
      margin: 0 2% 0 2%; }
      #viz_container #info_container #transp_table_container #transp_table_header_text {
        height: 4%;
        margin-bottom: 1%; }
        #viz_container #info_container #transp_table_container #transp_table_header_text div {
          font-size: 24px;
          color: #444444;
          font-family: "Lato", Serif;
          border-bottom: 1px solid #AAAAAA; }
      #viz_container #info_container #transp_table_container #table_comment_container {
        margin: 3%;
        font-family: "Open Sans";
        font-size: 15px;
        color: #222;
        text-align: justify; }
      #viz_container #info_container #transp_table_container #inner_table_container {
        height: 95%;
        overflow-y: auto; }
      #viz_container #info_container #transp_table_container table {
        width: 100%;
        border-collapse: collapse; }
        #viz_container #info_container #transp_table_container table td {
          border: 1px solid #AAAAAA; }
        #viz_container #info_container #transp_table_container table th {
          font-family: "Open Sans";
          color: #444444;
          background-color: #DDDDDD;
          border: 1px solid #AAAAAA; }
        #viz_container #info_container #transp_table_container table td {
          font-family: "Open Sans";
          color: #444444;
          text-align: center; }

#legend_container {
  margin-left: 1%;
  margin-right: 1%;
  height: 10%;
  width: 98%;
  bottom: 0;
  box-sizing: border-box;
  border: 2px dashed #AAAAAA;
  background-color: brown;
  position: absolute; }
  #legend_container #legend_color_map_container {
    width: 10%;
    height: 100%;
    float: left; }

/*# sourceMappingURL=main.css.map */
