$page_background: #f4f4f4
$primary_color: #4a6fa5

$header_fill_color: #66BEAD
$header_hover_color: #8377C8

$viz_canvas_background: #f4f4f4
$viz_border_color: #AAAAAA
$viz_suppl_text_color: #333

$info_header_text_color: #444
$main_table_cell_color: #DDD
$loading_text_color: #999

$arachnid_color: #07F906