<html>
  <head>
    <title> Visualization | Metec-ProdOpt project </title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
  </head>

  <body>
    <div id="header">
      <img src="{{ url_for('static', filename='res/upper_logo.png') }}">
      <div id="header_text"><span><a href="{{ url_for('index') }}"><span>METEC-PRODOPT PROJECT</span></a></span></div>
    </div>
    <div id="viz_container">
      <div id="factory_transp_container">
        
      </div>
      <div id="algo_container">

      </div>
    </div>
  </body>
</html>
